h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol, li {
    list-style: none;
}

/* Body */

body {
    font-family: 'Minion Pro', sans-serif;
    font-size: 0.9vw;
    color: black;
    max-width: 100%;
    height: 84vw;
    margin: auto;
    background-color: white;
}

.container {
    width: 68%;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    width: 68vw;
    height: 5vw;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.5vw;
}

/* Header Menu */

header ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vw;
}

header li, header ul a {
    font-size: 0.8vw;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.elipse {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
    margin-right: 0.5vw;
    border-radius: 50%;
    background-color: gray;
    float: left;
}

select {
    border: none;
    font-weight: bold;
    font-size: 0.9vw;
    height: 1.5vw;
    cursor: pointer;
}

header nav, header nav a {
    height: 1vw;
    color: black;
    font-size: 0.9vw;
    margin-top: 0.8vw;
    text-decoration: none;
}

header nav a:not(:first-of-type)::before {
    content: '/';
}

/* Aside_left*/

aside {
    display: flex; 
    flex-direction: column; 
    width: 14vw;
    height: 58vw;
    float: left;
}

img[alt="logo_roshen"] {
    width: 9vw;
}

aside nav a {
    color: black;
}

aside span {
    padding-top: 3vw;
    font-size: 1.5vw;
    font-weight: 800;
}

/* Main Section */

main {
    display: flex;
    flex-direction: column;
}

.banner {
    margin-top: 1.2vw;
    width: 54vw;
}

main h1 {
    margin-top: 1vw;
    font-size: 1.1vw;
    font-weight: 800;
}

.text {
    width: 54vw;
    height: 36vw;
    font-weight: 400;
    line-height: 2;
}

main>div {
    font-size: 0.7vw;
}

/* Footer */

footer {
    width: 68vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
    font-size: 0.8vw;
    font-weight: 800;
    align-items: center;
    justify-content: space-between;
}

img[alt="logo_roshen"] {
    margin-top: 1vw;
    width: 9vw;
    height: 3vw;
}

.map {
    width: 12vw;
    margin-left: 7vw;
    margin-top: 1.2vw;
}

footer>a,
footer>div>a {
    color: black;
    text-decoration: none;
}

.phone {
    width: 11vw;
    margin-top: 1.2vw;
    margin-left: 1.5vw;
}

.mail {
    width: 8vw;
    margin-top: 1.2vw;
    margin-left: 2vw;
}

footer>a:nth-of-type(3) img {
    width: 1.7vw;
    height: 1.7vw;
    margin-top: 1.2vw;
    margin-left: 8vw;
} 

footer>a:nth-of-type(4) img {
    width: 1.7vw;
    height: 1.7vw;
    margin-top: 1.2vw;
    margin-left: 0.3vw;
} 
